header h1 {
    font-size: 16px;
}

/* Container principal */
.container {
    padding: 80px 15px 60px; /* Espaço para o cabeçalho e rodapé */
}

/* Post Completo */
.post-completo {
    background: #E3F2FD;
    padding: 15px;
    border-radius: 10px;
}

.autor {
    color: #2D9CFA;
    font-size: 12px;
    font-weight: bold;
}

.titulo {
    color: #2D9CFA;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.conteudo {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    text-align: justify;
}

/* Interação */
.interacao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
}

.interacao span {
    color: #2D9CFA;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.interacao i {
    margin-right: 5px;
}
