/* Estilização do rodapé */
footer {
    background: #2196F3;
    display: grid;
    grid-template-columns:auto 1fr; 
    align-items: center;
    padding: 15px 54px 15px 40px;
    width: 100%;
    height: 60px;
}

/* Estilização FIAP */
footer span {
    color: white;
    font-size: 14px;
    font-weight: bold;
    justify-self: center;
  }

/* Estilização retorno página anterior */
footer .fa-arrow-left {
    color: white;
    cursor: pointer;
}

/* footer i {
    cursor: pointer;
    color: #ffffff;
} */

/* .fas fa-arrow-left back-icon {
    color: white;
    cursor: pointer;
}
*/