/* Estilização do rodapé */
footer {
    background: #2196F3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
}

footer span {
    color: white;
}

/* footer i {
    color: white;
    cursor: pointer;
} */

.fas fa-arrow-left back-icon {
    color: white;
    cursor: pointer;
}
