<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Registros de Horas</title>
</head>
<body>
    <h1>Registros de Horas Trabalhadas</h1>
    <a href="/times/register/<%= userId %>">Registrar Novo Horário</a>
    <ul>
        <% times.forEach(time => { %>
            <li>
                Data: <%= time.date %>, 
                Início: <%= time.start_time %>, 
                Término: <%= time.end_time %>
            </li>
        <% }) %>
    </ul>
    <a href="/users">Voltar</a>
</body>
</html>
