/* Main container */

.container-passwordReset {
    display: flex;
    flex-direction: column;
    border: solid 10px yellow;
    width: 100%;
    padding: 20px 20px 50px;
    height: 100%;
  }
  
  /* Form */
  .form-passwordReset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
  }
  
  /* Inputs */
  .form-passwordReset input {
      width: 85%;
      padding: 15px 20px;
      border: 2px solid #2D9CFA;
      font-size: 18px;
  }
  
  /* Feedback message */
  .info-text {
    width: 75%;
    font-size: 12px;
    /* margin: 5px 0px 60px; */
    padding: 0 10px;
    text-align: center;
  }
  
  /* Button */
  .btn-enviar {
    width: 85%;
    padding: 20px;
    margin-top: 4em;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #2D9CFA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
  }
  
  /* Mouse hover */
  .btn-enviar:hover {
    background-color: #1A7DC4;
  }