/* Estilização do topo da página */
.top-bar {
    background: #ffffff;
    display: grid;
    grid-template-columns:auto 1fr; 
    align-items: center;
    padding: 15px 54px 15px 40px;
    width: 100%;
  }

/* Estilização retorno página anterior */
.fa-arrow-left {
  cursor: pointer;
}

/* Estilização do título da página */
.pageTitle {
  font-size: 14px;
  font-weight: bold;
  justify-self: center;
}
