#root {
  border: solid 10px green;
  min-width: 320px; /* Ok */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100%;
}

/* Placeholder */
input::placeholder, textarea::placeholder {
  opacity: 1;
  font-size: 18px;
  color: #2D9CFA;
}
