/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
  /* height: 100%; */
  color: rgba(0, 0, 0, 0.87);
  font-family: Montserrat;
  line-height: 1.5;
  /* font-weight: 900; */
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* color-scheme: light dark; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

/* O :root é o próprio html */
:root {
  border: solid 10px red;
}

/* O body também é o próprio html. A div #root e a div class container estão dentro dela. */
body {
  border: solid 10px blue;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* A div #root é o container da div container. Por isso, ela controla a centralização desta. */
#root {
  border: solid 10px green;
  display: flex;
  justify-content: center;
  width: 80%; /* % de body */
}

.container-adminPost {
  border: solid 10px yellow;
  width: 50%;
}

.container-createPost {
  border: solid 10px yellow;
  width: 50%;
}

.container-editPost {
  border: solid 10px yellow;
  width: 50%;

}

.container-listPost {
  border: solid 10px yellow;
  width: 50%;

}

.container-login {
  border: solid 10px yellow;
  width: 50%; /* % da div #root */
  display: flex;
  justify-content: center;
}

.container-passwordReset {
  border: solid 10px yellow;
  width: 50%;

}

.container-signUp {
  border: solid 10px yellow;
  width: 50%;

}

.container-viewPost {
  border: solid 10px yellow;
}

/* * {
  margin: 0;
  padding: 0;
} */
  
/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */
/* .montserrat-fonts {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */

/* body {
  background-color: purple;
  /* display: flex; */
  /* flex-direction: column; */
  /* height: 100vh; */
/* } */ 


/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */