/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  /* color: rgba(255, 0, 0, 0.87); */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  /* font-weight: 900; */
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* color-scheme: light dark; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  border: solid 10px red;
  min-width: 320px; /* Ok */
  /* width: 100%; */
  height: 100%; /* Ok */
}

body {
  border: solid 10px blue;
  min-width: 320px; /* Ok */
  height: 100%; /* Ok */
}

#root {
  border: solid 10px green;
  min-width: 320px; /* Ok */
  display: flex;
  justify-content: center;
  width: 100%; /* % de body */
  height: 100%;
}

.container-adminPost {
  border: solid 10px yellow;
  width: 50%;
}

.container-createPost {
  border: solid 10px yellow;
  width: 50%;
}

.container-editPost {
  border: solid 10px yellow;
  width: 50%;
}

.container-listPost {
  border: solid 10px yellow;
  width: 50%;
}

.container-passwordReset {
  border: solid 10px yellow;
  width: 50%;
}

.container-viewPost {
  border: solid 10px yellow;
}

/* Estilização retorno página anterior */
/* .fa-arrow-left {
  color: #2D9CFA;
  cursor: pointer;
} */
  
/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */
/* .montserrat-fonts {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */