
/* Estilização do cabeçalho */
header {
    background-color: #2196F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    width: 100%;
}

header h1 {
    color: white;
    font-size: 20px;
}

.fa-bars {
    font-size: 20px;
    cursor: pointer;
    color: white;
}
