<%- include('partials/header') %>

<div class="container mt-5">
    <h1><%- title %></h1>
    <ul class="list-group">
        <% professores.forEach(function(professor) { %>
        <li class="list-group-item"><% professor.nome %> - <%= professor.disciplina %></li>
    <% }); %>
    </ul>
</div>

<%- include('partials/footer') %>