/* Main container  */
.container-passwordResetMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 10px yellow; */
    width: 100%;
    min-width: 340px;
    /* max-width: 800px; */
    padding: 20px 20px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .box {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 25%; */
    margin: 20px 0px;
    box-shadow: 0px 10px 50px 0 rgba(0, 0, 0, 0.3);
  }
  
  /* Title */
  .titulo-passwordResetMessage {
    color: #2D9CFA;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 2em 0 1.5em;
  }
  
  /* Feedback message */
  .feedback-text {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  
  /* Button */
  .btn-ok {
    padding: 10px;
    margin: 30px 0 30px 0;
    font-size: 16px;
    font-weight: bold;
    color: #2D9CFA;
    border: none;
    font-weight:800;
  }